$column-height: 50px;
$column-width: 22.5%;

$mint: rgba(217,245,232,1);
$teal: rgba(55,203,194,1);
$gold: rgba(255,187,51,1);
$tomato: rgba(255,99,71,1);

@mixin column-setup() {
  height: $column-height;
  width: $column-width;
  float: left;
  margin: .5%;
}

.mint {
  @include column-setup();
  background: $mint;

}
.teal {
  @include column-setup();
  background: $teal;

}
.gold {
  @include column-setup();
  background: $gold;

}
.tomato {
  @include column-setup();
  background: $tomato;

}
