$column-height: 80px;
$column-width: 22.5%;
$column-padding: 10px;

$color1: rgba(217,245,232,1);
$color2: rgba(55,203,194,1);
$color3: rgba(255,187,51,1);
$color4: rgba(255,99,71,1);


@mixin column-setup() {
  height: $column-height;
  width: $column-width;
  float: left;
  margin: .5%;
}

body {
  font-family: sans-serif;
}

.clear-fix:after {
  clear: both;
  display: block;
  content: "";
}

.row:after {
  clear: both;
  display: block;
  content: "";
  margin-bottom: 60px;
}

table {
  font-size: .7em;
  width: 100%;
}

.left {
  float: left;
  font-weight: bold;
}

.right {
  text-align: right;
}

.color-column {
  @include column-setup();
}

.color {
  @extend .color-column;
  clear: both;
  width: 100%;
}

.mint {
  background: $color1;
}
.teal {
  background: $color2;
}
.gold {
  background: $color3;
}
.tomato {
  background: $color4;
}

p {
  width: 100%;
}

.tint {
  width: 33.3%;
  height: 100%;
  float: left;
  color: green;
}
